@{
    Layout = null;
}
<!DOCTYPE html>

<html ng-app="MainModule">
<head>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/mainController.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body ng-controller="MainCtrl">
    <h2>{{title}}</h2>
    <button ng-click="getData()">GET</button>
    <button ng-click="postData()">POST</button><br/>
    <input ng-model="simpleData" type="text"/>
    <button ng-click="postSimpleData()">Simple POST</button>

    <p ng-if="!isEnumerable">{{getResponse}}</p>
    <table ng-if="isEnumerable">
        <tr ng-repeat="customer in getResponse">
            <td>{{customer.Name}}</td>
            <td>{{customer.Age}}</td>
        </tr>
    </table>    
</body>
</html>
